* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --black: #150605;
  --red: #EA453C;
  --pink: #F47B6E;
  --light-blue: #EFFBFE;
  --blue: #ACE6EC;
}

html, body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

.photo-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  width: 97vw;
  display: flex;
  justify-content: space-between;
  margin: 10px 1.5vw 0 1.5vw;
}

.search input {
  width: 90%;
  font-size: 1rem;
  padding: .3em;
  letter-spacing: .05em;
  border-radius: 5px;
  border: 1px solid #333;
  outline: none;
}

.search input:hover {
  background-color: #eee;
}

.search button {
  width: 18vw;
  margin-left: 2vw;
  font-size: 1.5rem;
  letter-spacing: .1em;
  background: var(--pink);
  color: var(--light-blue);
  border: none;
  border-radius: 5px;
}

.search button:hover {
  cursor: pointer;
  background: var(--red);
}

.photos {
  padding: 10px;
  display: grid;
  grid-gap: 2px;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: dense;
}

main.cart-page {
  padding: 10px;
}

.cart-page > h1 {
  text-align: center;
}

.cart-page .total-cost {
  text-align: right;
  font-size: 1.3em;
}

.cart-page div.order-button {
  display: flex;
  justify-content: center;
}

div.order-button > button {
  border-color: var(--black);
  cursor: pointer;
  padding: 15px;
  transition: all .2s ease-in-out;
}

div.order-button > button:focus {
  outline: none;
}

div.order-button > button:disabled {
  border-color: lightgray;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.cart-item img {
  margin-right: auto;
  margin-left: 10px;   
}

img.image-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
}

.favorite, .cart, .close {
  font-size: 1.2rem;
  position: absolute;
  cursor: pointer;
}

.favorite {
  color: var(--red);
  top: 5px;
  left: 5px;
}

.ri-heart-fill {
  /* opacity: .7; */
}

.ri-delete-bin-line, .ri-delete-bin-fill {
  font-size: 1.3em;
  cursor: pointer;
}

.cart {
  color: var(--light-blue);
  top: 5px;
  right: 5px;
}

.close {
  color: var(--light-blue);
  bottom: 0;
  right: 5px;
  z-index: 2;
}

.close:hover {
  color: var(--red);
  opacity: .8;
}

.artist {
  position: relative;
  bottom: 46px;
  color: var(--light-blue);
  background: rgba(200, 200, 200, .5);
}

.artist p {
  margin-left: 5px;
  font-size: 1.2rem;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pink);
  color: var(--light-blue);
  padding: 0 10px;
  -webkit-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
  -moz-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
  box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
}

.sub-links i {
  margin: 0 10px;
}

a {
  text-decoration: none;
}

a:visited { color: var(--light-blue); }
a:hover { color: var(--light-blue); }
a:active { color: var(--light-blue); }

.zoomed {
  width: 55vw;
  background: rgba(200, 200, 200);
  z-index: 3;
  display: flex;
  position: fixed;
  left: 23vw;
  top: 80px;
}

.zoomed-img {
  display: flex;
  flex-direction: column;
}

.zoomed img {
  width: 100%;
}

/* .zoomed p {
  font-size: 1rem;
  padding: 2px;
  margin: -25px 5px 0 0;
} */

@media screen and (max-width: 650px) {
  .photos {
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .cart-item img {
    width: 250px;
  }
}

@media screen and (max-width: 450px) {
  .cart-item img {
    width: 150px;
  }
}
